* {
	box-sizing: border-box;
	background-color: rgb(57, 57, 57);
	font-family: Verdana, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: rgb(187, 187, 187);
}

.container-calculator {
	border: 2px solid black;
	border-radius: 5px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
}

.box:hover {
	background-color: rgb(89, 89, 89);
}

.display,
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: dimgrey;
	border: 1px solid black;
	font-size: 2rem;
}

.display {
	justify-content: flex-end;
	width: 400px;
	height: 100px;
	padding-right: 1rem;
}

.box {
	width: 100px;
	height: 100px;
}

.box-double-width {
	width: 200px;
}

.box-triple-width {
	width: 300px;
}
